.home{
  display: block;
  width: 100%;
  // flex-wrap: nowrap;
  // align-items: stretch;
  // background-color: $green;
  .single-stock {
    display: block;
    @include calc( width, '100% - 82px');
    min-height: 52vh;
    border: 1px solid $silver;
    padding: 20px;
    margin: 20px;
  }
}

article {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  margin: 20px;
  padding: 30px;
  border: 1px solid $silver;
  @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
  @include calc( width, '100% - 102px');
  .info,
  .stocks-list{
    display: block;
    float: left;
    @include calc( width, '50% - 120px');
    margin: 0 40px;
    padding: 20px;
    @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
    @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
    h4 {
      text-align: center;
      font-size: 22px;
      margin-bottom: 50px;
    }
  }

}

.symbol,
.net-change,
.price {
  display: inline-block;
  width: 50%;
}

.symbol{
  padding: 10px;
  color: $gray;
  font-size: 22px;
  background-color: $green;
  @include prefix(transition, color .7s ease-out , webkit ms);
   &:hover {
    color: $white;
    @include prefix(transition, color .6s linear , webkit ms);
  }
}

.net-change {
  text-align: left;
  font-size: 18px;
}
.price {
  margin-top: 10px;
  font-size: 18px;
  text-align: right;
}



.stocks-item {
  text-decoration: none;
  width: 100%;
  font-size: 0;
  margin-bottom: 20px;
  &__day,
  &__price {
    display: inline-block;
    width: 50%;
    font-size: 18px;
    color: $gray;
  }
  &__day{
    text-align: left;
  }
  &__price{
    text-align: right;
  }
}

#planet-chart {
  display: block;
  margin: 20px;
  @include calc( width, '100% - 40px');
}



