.home{
  display: block;
  width: 100%;
  padding: 20px 0;
}

article {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  padding: 20px 0;
  border-top: 1px solid $silver;
  @include media-min-width(mobile) {
    border: 1px solid $silver;
    @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
    padding: 10px;
    margin: 20px;
    @include calc( width, '100% - 82px');
  }
  @include media-min-width(desktop) {
    max-width: 1020px;
    margin: 20px auto;
    padding: 30px;
    @include calc( width, '100% - 102px');
  }
}

.info,
.stocks-list{
  display: inline-block;
  margin: 20px;
  padding: 20px;
  @include calc( width, '100% - 80px');
  @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
  @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
  @include media-min-width(mobile) {
    vertical-align: top;
    @include calc( width, '50% - 80px');
  }
  h4 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    font-family: $serif;
    color: $gray;
  }
}

.symbol,
.net-change,
.price {
  display: inline-block;
  width: 50%;
}

.symbol{
  padding: 10px;
  margin-bottom: 15px;
  font-size: 28px;
  font-family: $serif;
  font-weight: 600;
  color: $black;
  background-color: $green;
  @include prefix(transition, color .7s ease-in , webkit ms);
   &:hover {
    color: $white;
    @include prefix(transition, color .6s ease-out , webkit ms);
  }
}

.net-change {
  text-align: left;
  font-size: 22px;
  font-family: $sanserif;
}
.price {
  margin-top: 10px;
  font-size: 22px;
  text-align: right;
  font-family: $sanserif;
}

.stocks-item {
  text-decoration: none;
  width: 100%;
  font-size: 0;
  margin-bottom: 20px;
  &__day,
  &__price {
    display: inline-block;
    width: 50%;
    font-size: 18px;
    color: $gray;
    font-family: $sanserif;
  }
  &__day{
    text-align: left;
  }
  &__price{
    text-align: right;
  }
}

.pos {
  color: $positive_stock_color;
}

.neg {
  color: $negative_stock_color;
}






