.stock-page {
  display: block;
  width: 100%;
  padding: 20px 0 50px;
  p {
    font-size: 18px;
  }
}
section {
  padding: 20px;
  @include media-min-width(mobile) {
    padding: 30px;
  }
  @include media-min-width(tablet) {
    padding: 20px 40px;
  }
}

.stock-info {
  margin: 20px;
  @include calc(width, '100% - 40px');
}

.table{
  display: block;
  width: 100%;
  margin: 40px 0;
  @include media-min-width(mobile) {
    display: inline-block;
    font-size: 0;
    margin: 20px 15px 20px 0;
    &:last-child {
      margin: 20px 0 20px 15px;
    }
    @include calc(width, '50% - 17px');
  }
  @include media-min-width(tablet) {
    margin: 20px 30px 20px 0;
    &:last-child {
      margin: 20px 0 20px 30px;
    }
    @include calc(width, '50% - 32px');
  }
  .table-row {
    width: 100%;
    display: block;
    .table-cell {
      display: inline-block;
      @include calc(width, '50% - 10px');
      margin: 10px 0;
      font-size: 14px;
      font-family: $sanserif;
      @include media-min-width(tablet) {
        width: 50%;
        font-size: 19px;
      }
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
.chart {
  display: block;
  width: 100%;
  &__tittle {
    margin: 20px 0;
    font-size: 22px;
    text-align: left;
    @include media-min-width(mobile) {
      font-size: 24px;
    }
  }
  &__copy {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
    @include media-min-width(mobile) {
      font-size: 18px;
    }
  }
  &-container {
    margin: 20px 0 30px;
  }
  h2 {
    font-size: 22px;
    font-family: $serif;
    font-weight: 600;
  }
}

.symbol {
  width: 100%;
}

.title{
  font-size: 25px;
  color: $black;
  margin-bottom: 10px;
  text-align: left;
  font-family: $serif;
  font-weight: 600;
}

.copy {
  font-size: 18px;
  text-align: left;
  font-family: $sanserif;
}

.news-item {
  margin: 0;
  padding: 20px;
  text-align: center;
  @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
  @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
  @include calc(width, '100% - 42px');
  @include calc(max-width, '100% - 42px');
  @include media-min-width(mobile) {
    padding: 20px 30px;
    @include calc(width, '100% - 62px');
    @include calc(max-width, '100% - 62px');
  }
  @include media-min-width(tablet) {
    padding: 20px 40px;
    @include calc(width, '100% - 82px');
    @include calc(max-width, '100% - 82px');
  }
  &__title {
    font-size: 24px;
    margin: 30px 0;
    font-family: $serif;
    font-weight: 600;
  }
  &__copy {
    margin: 0 auto;
    max-width: 720px;
    line-height: 1.25;
    font-size: 18px;
    font-family: $sanserif;
  }
  &__image {
    font-size: 18px;
    margin: 20px 0;
  }
  &__link {
    display: inline-block;
    text-align: right;
    font-size: 18px;
    margin: 30px auto;
    color: $green;
    text-decoration: underline;
    font-family: $sanserif;
    font-weight: 600;
  }
}


.chart-container {
  display: block;
  padding: 20px 0;
  @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
  @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
}
