.stock {
  display: block;
  padding: 20px 20px 60px;
  @include calc(width, '100% - 40px');
  @include media-min-width(mobile) {
    padding: 20px 30px 60px;
    @include calc(width, '100% - 60px');
  }
  @include media-min-width(tablet) {
    padding: 20px 40px 60px;
    @include calc(width, '100% - 80px');
  }
  &-info,
  &-chart,
  &-news {
    display: block;
    padding: 20px 0;
    margin: 20px 0;
    @include prefix( border-radius, 15px 15px 15px 15px , webkit ms);
    @include prefix( box-shadow,  0px 0px 15px 5px rgba(0,0,0,0.1), webkit ms);
    @include media-min-width(desktop) {
      max-width: 1024px;
      margin: 20px auto;
    }
  }
}

.stock-info {
  &__title,
  &__copy {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.table {
  display: block;
  margin: 40px 20px;
  @include calc(width, '100% - 40px');
  @include media-min-width(mobile) {
    display: inline-block;
    font-size: 0;
    @include calc(width, '50% - 44px');
  }
  .table-row {
    width: 100%;
    display: block;
    .table-cell {
      display: inline-block;
      @include calc(width, '50% - 4px');
      margin: 10px 0;
      font-size: 14px;
      font-family: $sanserif;
      @include media-min-width(tablet) {
        width: 50%;
        font-size: 20px;
      }
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
.chart {
  display: block;
  width: 100%;
  &__tittle {
    margin: 20px 0;
    font-size: 22px;
    text-align: left;
    @include media-min-width(mobile) {
      font-size: 24px;
    }
  }
  &__copy {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
    @include media-min-width(mobile) {
      font-size: 18px;
    }
  }
  &-container {
    margin: 20px 0 30px;
  }
  h2 {
    font-size: 22px;
    font-family: $serif;
    font-weight: 600;
  }
}

.news-item {
  margin: 0;
  padding: 20px;
  text-align: center;
  &__title {
    font-size: 24px;
    margin: 30px 0;
    font-family: $serif;
    font-weight: 600;
  }
  &__copy {
    margin: 0 auto;
    max-width: 720px;
    line-height: 1.25;
    font-size: 18px;
    font-family: $sanserif;
  }
  &__image {
    font-size: 18px;
    margin: 20px 0;
  }
  &__link {
    display: inline-block;
    text-align: right;
    font-size: 18px;
    margin: 30px auto;
    color: $green;
    text-decoration: underline;
    font-family: $sanserif;
    font-weight: 600;
  }
}
