$black: #000;
$white: #fff;
$green: #AFECE7;
$gray: #595959;
$silver: #DBDBDB;
$negative_stock_color: #FF0000;
$positive_stock_color: #32CD32;
$serif: 'Rokkitt-ExtraLight';
$sanserif: 'Quicksand-Light';
